* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: aliceblue;
    background-color: black;
}

#box {
    position: fixed;
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: solid black 2px;
}